@font-face {
    font-family: BigNoodle;
    src: url("../fonts/big_noodle_titling.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif;  */

:root {
    --color1: rgb(58,13,21);
    --color2: rgb(97, 10, 27);
    --color3: rgb(156, 13, 2);
    --color4: rgb(221, 123, 44);
    --color5: rgb(240, 185, 78);
    --colorBG:rgb(245, 235, 202);  

    --height-navbar: 70px;
}
body {
    background-color: var(--colorBG);
}
/*######################################################################
                        CSS DE LA NAVBAR
#######################################################################*/

#navbar {
    /*ESTBLECE LA POSICIÓN DE LA NAVBAR PEGADA ARRIBA*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    line-height: var(--height-navbar);
    z-index: 10;
    /* DIMESIONES DE LA NAVBAR */
    width: auto; 
    height: var(--height-navbar);
    /* ESTILO DE LA NAVBAR */
    background-color: var(--color5);
    -webkit-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
}
@media (min-width: 768px) /* NAVBAR --> DESKTOP & TABLETS */ {
    /* CSS PARA TODA LA NAVBAR EN GENERAL */
    #navbar  {
        /* PROPIEDADES DE LA SOMBRA DE LA NAVBAR */
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1); 
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
    #navbar:hover {
        /* PROPIEDADES DE LA SOMBRA->NAVBAR CUANDO EL USUARIO
            COLOCA EL CURSON ENCIMA DE LA NAVBAR */
        -webkit-box-shadow: 0px 0px 10px 5px rgba(58, 13, 21, 0.5);
        box-shadow: 0px 0px 10px 5px rgba(58, 13, 21,0.5);
    }

    /* ACOMODAR LOS 5 DIVs EN LOS QUE ESTA DIVIDIDA LA NAVBAR 
    PD: ESTÁN ACOMODADOS EN ORDEN DE APARICIÓN.*/
    #logo {   
        float: left;      /* alinear horizontalmente los divs hijos dentro del div padre */
        height: 100%;     /* ocupar el 100% de espacio vertical del div padre */
    }
    #navbar1 {
        float: left;      /* alinear horizontalmente los divs hijos dentro del div padre */
        height: 100%;     /* ocupar el 100% de espacio vertical del div padre */
        text-align: center; 
    }
    #menuIcons {
        float: left;      /* alinear horizontalmente los divs hijos dentro del div padre */
        height: 100%;     /* ocupar el 100% de espacio vertical del div padre */
        text-align: right;    /* alinear el texto a la derecha del div*/
        padding-right: 10px;  /* espaciado del borde derecho*/
    }
    #menuDesplegable, #menuMobile {
        display: none;
    }

    /* ESTILO DE LOS ELEMENTOS DE LA NAVBAR */
    #navbar1 a, #menuIcons a{
        font-size: 20px;   
        text-decoration: none;      /* eliminar el underline del link */
        color: var(--color1);   
        margin-left: 5px;     /* espaciado entre los elementos elementos */
        margin-right: 5px;    /* espaciado entre los elementos elementos */
        font-weight: 600;
    }

    #menuIcons span {
        position: relative;
        top: 10px;
        font-size: 35px;
    }
    /* CSS DE LOS ICONOS (FONT) MATERIAL DESIGN */
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 800,
        'opsz' 18
    }
    .material-symbols-outlined:hover {
        font-variation-settings:
        'FILL' 1,
        'wght' 800,
        'GRAD' 800,
        'opsz' 18
    }

    @media (min-width: 992px){

        /* ACOMODAR LOS 5 DIVs EN LOS QUE ESTA DIVIDIDA LA NAVBAR 
            PD: ESTÁN ACOMODADOS EN ORDEN DE APARICIÓN.*/
        #logo {   
            width: 25%;       /* porcentaje del espacio horizontal que ocupan del div padre */
        }
        #navbar1 {
            width: 50%;       /* porcentaje del espacio horizontal que ocupan del div padre */
        }
        #menuIcons {
             width: 25%;       /* porcentaje del espacio horizontal que ocupan del div padre */
        }
    
        #logoNavBar {
            position: absolute;
            top:0;
            left: 10px;
            height: 50px;
            margin-top: 10px;
        }
    
        #logoMobileNavBar {
            display: none;
        }
    }
    
    @media (max-width: 991px) and (min-width: 768px){
    
        /* ACOMODAR LOS 5 DIVs EN LOS QUE ESTA DIVIDIDA LA NAVBAR 
            PD: ESTÁN ACOMODADOS EN ORDEN DE APARICIÓN.*/
        #logo {   
            width: 10%;       /* porcentaje del espacio horizontal que ocupan del div padre */
    
        }
        #navbar1 {
            width: 65%;       /* porcentaje del espacio horizontal que ocupan del div padre */
    
        }
        #menuIcons {
             width: 25%;       /* porcentaje del espacio horizontal que ocupan del div padre */
        }
    
        #logoNavBar {
            display: none;
        }
    
        #logoMobileNavBar {
            position: absolute;
            top:0;
            left: 25px;
            height: 50px;
            margin-top: 10px;
        }
    }
}
@media (max-width: 767px) /* NAVBAR --> MOBILE */ {
    :root {
        --height-navbar: 60px;
    }

    #navbar  {
        height: var(--height-navbar);
        /*ESTBLECE LA POSICIÓN DE LA NAVBAR PEGADA ARRIBA*/
        display: grid;
        grid-auto-columns: 33.33%;
        grid-template-areas: 
        "menuDesplegable logo shoppingCart"
        "menuMobile menuMobile menuMobile";
        /* PROPIEDADES DE LA SOMBRA DE LA NAVBAR */
        -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    }
    
    #navbar:hover, .change#nanbar:hover {
        /* PROPIEDADES DE LA SOMBRA->NAVBAR CUANDO EL USUARIO
        COLOCA EL CURSON ENCIMA DE LA NAVBAR EN MODO MOBILE */
        -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.5);
    }

    .change#navbar {
        /* DESPLIEGUE DEL MENU COLAPSABLE */
        height: 380px;
    }

    /* ACOMODAR LOS 5 DIVs EN LOS QUE ESTA DIVIDIDA LA NAVBAR
        PD: ESTÁN ACOMODADOS EN ORDEN DE APARICIÓN.*/
    #menuDesplegable {
        grid-area: menuDesplegable;
        height: var(--height-navbar);
        text-align: left;
    }
    #logo {   
        grid-area: logo;      /* alinear horizontalmente los divs hijos dentro del div padre */
        height: var(--height-navbar);     /* ocupar el 100% de espacio vertical del div padre */
        text-align: center;
        align-items: center;
    }
    #menuIcons {
        grid-area: shoppingCart;      /* alinear horizontalmente los divs hijos dentro del div padre */
        height: var(--height-navbar);     /* ocupar el 100% de espacio vertical del div padre */
    }
    #shoppingCartContainer {
        display: inherit;
        height: var(--height-navbar);
        text-align: right;
    }
    #navbar1 {
        display: none;
    }
    #menuMobile {
        display: none;
        grid-area: menuMobile;
        transition: 0.3s;
    }
    .change#menuMobile {
        display: block;
        text-align: left;
        width: 100%;
    }
    /* ESTILO DE LOS ELEMENTOS DE LA NAVBAR */
    #togglerMenu {
        height: var(--height-navbar);
        background-color: transparent;
        border: 0px;
        padding-left: 10px;

    }
    #logoMobileNavBar {
        position: relative;
        align-items: center;
        text-align: center;
        height: 45px;

    }
    #shoppingCartIcon {
        position: relative;
        top: 10px;
        font-size: 40px;
        padding-right: 5px ;
        color: var(--color1);
        transition: 0.3s;
    }
    #shoppingCartIcon:hover {
        color: var(--color3);
    }
    #mobileNavbarIconOut, #logoNavBar  {
        display: none;
    }
    span#menuMobileIcons {
        position: relative;
        top: 7px;
        font-size: 30px;
    }
    input.searchInput {
        width: 70%;
        height: 45px;
        border-radius: 10px;
        border: 2px solid var(--color1);
        margin-top: 10px;
        margin-bottom: 30px;
    }
    input.searchInput:focus {
        border: 2px solid var(--color3);
        outline: 4px solid rgba(97, 19, 27, 0.5);
        outline-offset: 0px;
    }
    button.searchInput {
        width: 20%;
        height: 50px;
        background-color: transparent;
        border: 0;
    }
    #menuMobile ul, #menuMobile a {
        list-style-type: none;
        font-size: 23px;
        font-weight: 600;
        text-decoration: none;
        color: var(--color1);
        transition: color .5s;  
    }
    #menuMobile li {
        margin: -20px;
        margin-left: -20px;
        position: relative;
        align-items: center;
    }
    #menuMobile a:hover {
        color: var(--color3);
    }
    /* CSS DE LOS ICONOS (FONT) MATERIAL DESIGN */
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 800,
        'opsz' 30
    }
    .material-symbols-outlined:hover {
        font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 400,
        'opsz' 98
        }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 5px;
        background-color: var(--color1);
        margin: 5px 0;
        transition: 0.4s;
        border-radius: 2px;
    }

    .change .bar1 {
        transform: translate(0, 10px) rotate(315deg);
        background-color: var(--color3);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0px, -10px) rotate(-315deg);
        background-color: var(--color3);
    }
    
}
/*######################################################################
                        OTROS COMPONENTES....
#######################################################################*/



/*##################################################################### 
                        PÁGINA ABOUT US 
######################################################################*/

.texto {
    font-size: 1.2rem;
    color: #f0f0f0;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.subtitulo {
    text-align: center;
    font-size: 1.9rem;
    color: #f0f0f0;
}

.contenedorMision {
    background-image: url(/assets/img/amigosCervezaPrincipal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 20px;
    margin-top: 100px;
}

.contenedorVision {
    background-image: url(/assets/img/amigosCervezaSecundario.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;
}

.contenedorCompromiso {
    background-image: url(/assets/img/catedralMorelia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;
}

/*
.contenedorPrueba {
    background-image: url(/assets/catedralMorelia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;

}

.subtitulo {
    text-align: center;
}
*/  



/*###########################################
############## TARJETAS ####################
###########################################
*/
.subtitle {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ourPresentationGrid {
    display: grid; 
    height: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.ourPreImg{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.usImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    border-radius: 10%;
}

.ourPIHover {
    position: absolute;
    background: #610a1b8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .2s ease-in-out;
    border-radius: 10%;
}

@media (max-width: 992px) {
    .ourPresentationGrid {
        grid-template-columns: 1fr;
    }
    .ourPresentationGrid article {
        position: relative;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
}

.ourPreImg:hover .ourPIHover {
    transform: translate(0%);
}

.titleUs {
    font-size: 15px;
}
/*###########################################
############## ABOUT US RESPONSIVE ####################
###########################################
*/
#container2{
    display: grid;
    align-items: center;
    justify-content: center;
}
/* mobiles */

@media (min-width: 0px) and (max-width: 575.98px){
.texto {
    font-size: 10px;
}

.title {
    margin-top: 20px;
}

.subtitulo {
    font-size: 20px;
}

.contenedorMision {
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    width: 95%;
}

.contenedorVision {
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    width: 95%;
}

.contenedorCompromiso {
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    width: 95%;
}
.ourPresentationGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
}
}




/* tablets */
/* @media (min-width: 575.99px) and (max-width: 767.99px) */
@media (min-width: 575.99px) and (max-width: 836.99px){
    .ourPresentationGrid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

/* Tercer corte*/
/* @media (min-width:768px) and (max-width: 992px) */
@media (min-width:837px) and (max-width: 1120px){
    .ourPresentationGrid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        align-items: center;
    }
}