/* Estilos de la NavBar */

.navbar {
    background-color: rgb(240, 185, 78);
    -webkit-box-shadow: 0px -4px 20px 0px rgba(0,0,0,0.35); 
    box-shadow: 0px 9px 12px 0px rgba(58, 13, 21,0.3);
}
.nav-link {
    color: rgb(58, 13, 21);
    font-weight: 500;
    font-size: 20px;
}
body {
    background-color: rgb(245, 235, 202);
}

#navbarNav {
    text-align: center;
}

.navbar-toggler {
    background-color: rgb(58, 13, 21);
}

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#menuIcons {
    position: relative;
    top: 2px;
    left: -10px;

}

.material-symbols-outlined {
font-variation-settings:
'FILL' 1,
'wght' 800,
'GRAD' 200,
'opsz' 48
}

#logoNavBar {
    width: 40px;
    position: relative;
    left: 5px;
}

/*ESTILOS CARRITO DE COMPRAS*/


#user-column, li{
    list-style: none;
    

}
.accordion-item{
    background-color: rgb(245, 235, 202);
}


/*Estilos de botones de columna de usuario*/
#btn{
    background-color: rgb(240, 185, 90);
    box-shadow: 0px 0px 5px 3px rgb(240, 185, 90);
    border-radius: 5px;
}

#total-container{
    background-color: rgb(240, 185, 90);
    box-shadow: 0px 0px 5px 3px rgb(240, 185, 90);
    border-radius: 5px;
}

/* Scroll Personalizado */
.order{
    width: 500px;
    height: 200px;
    margin: 10px auto;
    padding: 20px;
    overflow: auto;
    font-family: 'Open Sans';
    border-radius: 4px;
}
.order::-webkit-scrollbar {
	width: 7px;
}

.order::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
}

#productcard1 {
    background-color: rgb(245, 235, 202);

}

#productcard2 {
    background-color: rgb(245, 235, 202);

}


